python-docx==0.8.11
seaborn
qt5-applications==5.15.2.2.1
qt5-tools==5.15.2.1.0.1
scipy
pyodbc===4.0.0-unsupported
pyparsing==2.4.7
PyQt5==5.15.2
pyqt5-plugins==5.15.2.2.0.1
PyQt5-Qt5==5.15.2
PyQt5-sip==12.8.1
PyQtWebEngine==5.15.2
PyQtWebEngine-Qt5==5.15.2
pandas==1.3.5